@import 'highlight.js/styles/atom-one-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #result {
    overflow: auto !important;
    max-width: 100%;
  }
  
  #result pre {
    margin: 0 !important;
    background: transparent !important;
    width: max-content !important;
  }
  
  #result code {
    display: block !important;
    padding: 1rem !important;
    white-space: pre !important;
    overflow-wrap: normal !important;
    word-break: normal !important;
  }
}