@import 'highlight.js/styles/atom-one-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #result pre {
    @apply m-0 bg-transparent;
  }
  
  #result code {
    @apply block p-4 rounded font-mono text-sm leading-relaxed;
  }
}